* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.layout {
  display: flex;
  width: 100%;
  height: 100%;
}

main {
  min-height: 100vh;
}