.sidebar {
    width: 200px;
    height: 100vh;
    margin-right: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar_links a {
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}